<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1 th:text="|${patientAge}세 이하 환자 리스트|"></h1>
<table>
  <th>환자코드</th>
  <th>환자이름</th>
  <th>환자나이</th>
  <th>환자성별</th>
  <th>환자핸드폰</th>
  <th>환자이메일</th>
  <th>환자아픈이유</th>
  <th>환자입원여부</th>
  <th>진료과</th>
  <tr th:each="patient:${patientList}">
    <td th:text="${patient.getPatientCode()}"></td>
    <td th:text="${patient.getPatientName()}"></td>
    <td th:text="${patient.getPatientAge()}"></td>
    <td th:text="${patient.getPatientGender()}"></td>
    <td th:text="${patient.getPatientPhone()}"></td>
    <td th:text="${patient.getPatientEmail()}"></td>
    <td th:text="${patient.getPatientSick()}"></td>
    <td th:text="${patient.getPatientAdmission()}"></td>
    <td th:text="${patient.getDepartmentCode()}"></td>
  </tr>
</table>

</body>
</html>