<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/patient/querymethod" method="post">
  <label>나이 대</label>
  <select name="patientAge">
    <option value="10">10대 이하</option>
    <option value="20">20대 이하</option>
    <option value="30">30대 이하</option>
    <option value="40">40대 이하</option>
    <option value="50">50대 이하</option>
    <option value="60">60대 이하</option>
  </select>
  <input type="submit">검색</input>
</form>
</body>
</html>